#menu-mobile {
    display: none;
    position: fixed;
    z-index: 100;
    background-color: #121212;
    width: 100%;
}

#block-menu {
    display: block;
    position: fixed;
    background-color: #121212;
    z-index: 98;
    width: 100%;
}

#block-mobile {
    display: none;
}

.hr-mobile {
    display: none;
}

@media (max-width: 960px) {
    html,
    body {
        overflow-x: hidden;
    }
    #menu {
        display: none;
    }
    #menu li {
        float: initial;
    }
    #menu li a {
        text-align: left;
    }
    #menu-mobile {
        display: block;
    }
    #block-menu {
        display: none;
    }
    #block-mobile {
        display: block;
    }
    .hr-mobile {
        display: block;
    }
    #footer {
        text-align: left;
        padding-left: 1em;
    }
}