:root {
    --highlight: #1be9d2;
    --top: #212529;
}

#menu-mobile {
    display: none;
    position: fixed;
    z-index: 100;
    color: var(--highlight);
    background-color: var(--top);
    width: 100%;
    top: 0;
    left: 0;
}

#menu-block {
    display: block;
    position: fixed;
    background-color: var(--top);
    z-index: 98;
    width: 100%;
}

#mobile-block {
    display: none;
}

#mobile-header {
    display: none;
    color: var(--highlight);
}

.hr-mobile {
    display: none;
}

@media (max-width: 960px) {
    html,
    body {
        overflow-x: hidden;
    }
    #menu {
        display: none;
        background-color: #121212;
    }
    #menu li {
        float: initial;
    }
    #menu li a {
        text-align: left;
    }
    #menu-mobile {
        display: block;
        padding-left: 1em;
    }
    #menu-block {
        display: none;
    }
    #mobile-block {
        display: block;
    }
    #mobile-header {
        display: block;
    }
    .hr-mobile {
        display: block;
    }
    #footer {
        text-align: left;
        padding-left: 1em;
    }
}