:root {
    --primary: #162447;
    --secondary: #e43f5a;
}

#menu-mobile {
    display: none;
    position: fixed;
    z-index: 100;
    color: var(--secondary);
    background-color: var(--primary);
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid white;
}

#menu-block {
    display: block;
    position: fixed;
    background-color: var(--primary);
    z-index: 98;
    width: 100%;
}

#mobile-block {
    display: none;
}

#mobile-header {
    display: none;
    color: var(--secondary);
}

.hr-mobile {
    display: none;
}

@media (max-width: 960px) {
    html,
    body {
        overflow-x: hidden;
    }
    #menu {
        display: none;
        background-color: #121212;
    }
    #menu li {
        float: initial;
    }
    #menu li a {
        text-align: left;
    }
    #menu-mobile {
        display: block;
        padding-left: 1em;
    }
    #menu-block {
        display: none;
    }
    #mobile-block {
        display: block;
    }
    #mobile-header {
        display: block;
    }
    .hr-mobile {
        display: block;
    }
    a#link-home.page,
    a#link-experience.page,
    a#link-projects.page,
    a#link-more.page {
        background-color: var(--primary);
        border: 1px solid white;
        padding: 1em;
        box-shadow: 5px 5px 5px var(--secondary);
        animation-name: fade-in;
        animation-duration: 2s;
        -moz-box-shadow: inset 0 0 20px #121212;
        -webkit-box-shadow: inset 0 0 20px #121212;
        box-shadow: inset 0 0 20px #121212;
    }
    #footer {
        text-align: left;
        padding-left: 1em;
    }
}