@import url(https://fonts.googleapis.com/css?family=Anton);
body {
  font-family: 'Anton', sans-serif;
}
a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}
.hover-text {
  opacity: 0;
  font-size: 1.125em;
}
#about:hover, #about a:hover, #work:hover, #work a:hover, #more:hover, #more a:hover, #contact:hover, #contact a:hover {
  -webkit-transition: color 1s;
  -moz-transition:    color 1s;
  -ms-transition:     color 1s;
  -o-transition:      color 1s;
  transition:         color 1s;
}
#about {
  width: 50%;
  height: 50%;
  float: left;
  display: table;
  background-color: silver;
  border: 2px solid black;
}
#about:hover {
  background-color: #0275D8;
}
#about:hover .hover-text {
  opacity: 1;
}
#about a {
  color: #0275D8;
}
#about a:hover {
  color: silver;
}
#work {
  width: 50%;
  height: 50%;
  float: left;
  display: table;
  background-color: black;
  border: 2px solid black;
}
#work:hover {
  background-color: white;  
}
#work:hover .hover-text {
  opacity: 1;
}
#work a {
  color: white;
}
#work a:hover {
  color: black;
}
#more {
  width: 50%;
  height: 50%;
  float: left;
  display: table;
  background-color: white;
  border: 2px solid black;
}
#more:hover {
  background-color: black;
}
#more:hover .hover-text {
  opacity: 1;
}
#more a {
  color: black;
}
#more a:hover {
  color: white;
}
#contact {
  width:50%;
  height: 50%;
  float: left;
  display: table;
  background-color: #0275D8;
  border: 2px solid black;
}
#contact:hover {
  background-color: silver;
}
#contact:hover .hover-text {
  opacity: 1;
}
#contact a {
  color: silver;
}
#contact a:hover {
  color: #0275D8;
}
@media (max-width: 960px) {
  #about, #work, #more, #contact {
    width: 100%;
  }
  .hover-text {
    opacity: 1;
  }
}
