h1,
h2 {
    color: pink;
}

button {
    background-color: pink;
}

button:hover {
    color: pink;
    background-color: white;
    border: 1px solid pink;
}

::-webkit-scrollbar-track {
    background: pink;
}

.block {
    box-shadow: 10px 10px 5px pink;
}

#love {
    color: red;
}